:root{
    --clr-red: #FF4651;
}

*,
*::before,
*::after{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.87)),
    url(../assets/auth_background.jpg) no-repeat fixed;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh !important;
}

a{
    outline: none;
    border: none;
}

.btn-primary{
    background-color: var(--clr-red) !important;
    border-color: var(--clr-red) !important;
}

.form-floating label{
    color: #cacaca;
}

#btn_submit{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}


#btn_login:hover{
    transition: .3s ease !important;
    background-color: black !important;
}

.container_login{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
}

.container_login .box{
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width:350px;
}

.box_logo{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 20px;
}

.box_logo .img_logo{
    width: 50px;
    margin-right: 10px;
}

.box_logo .text_logo{
    color: var(--clr-red);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1px;
}

.link_registration{
    color: var(--clr-red) !important;
    text-transform: capitalize;
    display: block;
    width: 100%;
    padding: .5rem;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 13px;
}


.link_registration:hover{
    transition: .3s ease;
    color:rgba(0, 0, 0, 0.7) !important;
    font-weight: bold;
}